body {
  background: #f5f5f5;
}

.wm-page {
  display: flex;
  justify-content: center;
  border-top: 4px solid #cecece;
  padding: 40px 0;
}

.wm-page .wm-container {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 80%;
}